<!DOCTYPE html>
<html>
    <head>
        <title>Best Webserver Ever</title> 
    </head>
    <body>
        <h1>
            Woo hoo a website
        </h1>
        <div class="video">
                <iframe 
                    id="ytplayer" 
                    type="text/html" 
                    width="640" 
                    height="360"
                    src="https://www.youtube.com/embed/6hJv5yBLe9c?autoplay=1&"
                    frameborder="0"></iframe>
        </div>
    </body>
</html>